{% load staticfiles i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Onlinebookshare{% endblock %}</title>
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'css/onlinebookshare.css' %}?v=1" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static 'js/onlinebookshare.js' %}"></script>
    {% block head %}{% endblock %}
  </head>
  <body>
    {% block body %}
      <header>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{% url 'home' %}">Onlinebookshare</a>
            </div>
            <div class="collapse navbar-collapse" id="menu">
              <ul class="nav navbar-nav">
                <li>
                  <a href="#" id="notifications" data-container="body" data-toggle="popover" data-placement="bottom"
                     title="Notifications">
                    <span class="glyphicon glyphicon-bell"></span>
                  </a>
                </li>
                <li><a href="{% url 'feeds' %}">{% trans 'Feed' %}</a></li>
                <li class="{% block books_active %}{% endblock %}">
                    <a href="{% url 'mylibrary:index' %}">
                        <span class="glyphicon glyphicon-book" aria-hidden="true">
                        </span>&nbsp;
                        Library
                    </a>
                </li>
                <li>
                    <a href="{% url 'mylibrary:create_book' %}">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;
                        Add Book
                    </a>
                </li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li>
                  <a href="{% url 'profile' user.username %}">{{ user.profile.get_screen_name }}
                  </a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a>Signed in as <br/>{{ user.username }}</a></li>
                    <li class="divider"></li>
                    <li><a href="{% url 'settings' %}">{% trans 'Account Settings' %}</a></li>
                    <li><a href="#">{% trans 'Help' %}</a></li>
                    <li><a href="#">{% trans 'FAQ' %}</a></li>
                    <li><a href="#">{% trans 'About' %}</a></li>
                    <li class="divider"></li>
                    <li><a href="{% url 'logout' %}">{% trans 'Log out' %}</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
      <main>
        <div class="container">
          {% block main %}
          {% endblock main %}
        </div>
      </main>
      <script src="{% static 'js/notifications.js' %}"></script>

    {% endblock body %}
    <script src="{% static 'js/ga.js' %}"></script>
  </body>
</html>